<div class="modal fade" id="eliminarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Eliminar Empleado</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="limpiar()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-center">
				<i class="fa fa-user-times"></i>
				¿Seguro que quieres eliminar al empleado?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" focus-element="autofocus" data-dismiss="modal" ng-click="limpiar()">Cancelar</button>
				<button type="button" class="btn btn-danger" ng-click="eliminarEmpleado()" data-dismiss="modal">Eliminar</button>
		  	</div>
		</div>
	</div>
</div>